.checkout-page {
    width: 60%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;
  
    .checkout-header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
  
      .header-block {
        text-transform: capitalize;
        width: 23%;
  
        &:last-child {
          width: 8%;
        }
      }
    }
    .empty-checkout{
      font-size: 20px;
      color:darkgrey;
      margin: 50px auto;
    }
    .total {
      margin-top: 30px;
      margin-left: auto;
      font-size: 36px;
    }
    .payment{
      width: 100%;
      .test-warning{
        margin-top: 40px;
        color:red;
        font-size: 22px;
        text-align: center;
      }
      .pay-now{
        float:right;
        margin-top: 20px;
      }
    }
    
  }
  